html {
    
    background-color: lightblue;
}

.absolute {
    
    position: absolute;
    margin-left: 550px;
    opacity: 0;
}

#painT {
    
    margin-top: 200px;
    -webkit-animation: painT 1s 2.5s ease-out forwards;
}

#salade {
    
    margin-top: 295px;
    -webkit-animation: salade 1s 2s ease-out forwards;
}

#tomate {
    
    margin-top: 345px;
    -webkit-animation: tomate 1s 1.5s ease-out forwards;
}

#steak {
    
    margin-top: 380px;
    -webkit-animation: steak 1s 1s ease-out forwards;
}

#fromage {
    margin-top: 178px;
    -webkit-animation: fromage 1s 0.5s ease-out forwards;
}

#painB {
    margin-top: 455px;
    -webkit-animation: painB 1s 0s ease-out forwards;
}


@-webkit-keyframes painB{
    0% { margin-top: -100px;opacity: 0;}
    100% { margin-top: 455px;opacity: 1; }
}

@-webkit-keyframes fromage{
    0% { margin-top: -600px;opacity: 0; }
    100% { margin-top: 178px;opacity: 1; }
}

@-webkit-keyframes steak{
    0% { margin-top: -600px;opacity: 0; }
    100% { margin-top: 380px;opacity: 1; }
}

@-webkit-keyframes tomate{
    0% { margin-top: -600px;opacity: 0; }
    100% { margin-top: 345px;opacity: 1; }
}

@-webkit-keyframes salade{
    0% { margin-top: -600px;opacity: 0; }
    100% { margin-top: 295px;opacity: 1; }
}

@-webkit-keyframes painT{
    0% { margin-top: -600px; opacity: 0; }
    100% { margin-top: 200px; opacity: 1;}
}